@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.Category {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title,
.description {
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 18px;
  margin-top: 10px;
}

.description {
  font-size: 14px;
}
